body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-weight: 500;
}

#board {
    height: 540px;
    width: 630px;

    background-color: blue;
    border: 10px solid navy;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    box-sizing: border-box;
    height: 80x;
    width: 80px;
    margin: 5px;

    background-color: white;
    border-radius: 50px;
    border: 5px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}