body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: white;
}

h1{
    font-size: 42px;
    line-height: 36px;
    font-weight: 700;
    color: #071924;
    margin-bottom: 0px;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    color: #071924;
    opacity: 0.8;
}

#status-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    width: 140px;
    line-height: 40px;
    height: 40px;
    border-radius: 15px;
}

.red-background {
    background-color: rgba(255, 0, 0, 0.4);
}

.yellow-background {
    background-color: rgba(255, 255, 0, 0.4);
}

.grey-background {
    background-color: rgba(135, 135, 135, 0.4);
}

#board {
    height: 540px;
    width: 630px;

    background-color: blue;
    border: 10px solid navy;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.tile {
    box-sizing: border-box;
    height: 80x;
    width: 80px;
    margin: 5px;

    background-color: white;
    border-radius: 50px;
    border: 5px solid navy;

    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

.red-piece-next {
    background-color: rgb(255, 191, 185);
}

.yellow-piece-next {
    background-color: rgb(251, 251, 172);
}

.reset-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: opacity 0.15s;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
}
.reset-button:hover {
    opacity: 0.8;
}
.reset-button:active {
    opacity: 0.5;
}